@import "abstract/vendorvariables";
@import "vendors/bootstrap/bootstrap";


@import "abstract/variables";

body {
  font-family: 'Raleway', sans-serif;
}

header {
  text-align: center;
  justify-content: center;
  background-color: #E56353;
  color: #FAFAFA;
  padding-top: 50pt;
  padding-bottom: 50pt;
  .titulo {
    font-size: 30pt;
    font-weight: lighter;
  }
  .subtitulo {
    font-size: 30pt;
    font-weight: bold;
    text-transform: uppercase;
  }

}
.seccion {
  font-size: 30pt;
  font-weight: lighter;
  text-align: center;
  justify-content: center;
  background-color: #E56353;
  color: #FAFAFA;
  padding-top: 50pt;
  padding-bottom: 50pt;
}
.titulo {
  font-size: 30pt;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 50pt;
}
.subtitulo {
  font-size: 25pt;
  font-weight: bold;
  padding: 20pt;
}
.articulo1 {
  font-weight: lighter;
  text-align: center;
  justify-content: center;
  background-color: #91918D;
  color: #FAFAFA;
  font-weight: normal;
  padding-top: 50pt;
  padding-bottom: 50pt;
  img {
    max-width: 100%;
  }
  h4 {
    font-weight: bold;
    padding: 15pt;
  }
  p {
    font-size: 12pt;
    text-align: justify;
  }
}
.articulo2 {
  font-weight: lighter;
  text-align: center;
  justify-content: center;
  background-color: #FAFAFA;
  color: #91918D;
  font-weight: normal;
  padding-top: 50pt;
  padding-bottom: 50pt;
  img {
    max-width: 100%;
  }
  h4 {
    font-weight: bold;
    padding: 15pt;
  }
  p {
    font-size: 12pt;
    text-align: justify;
  }
}
.boton {
  border-radius: 15px;
  font-weight: bold;
  color: #91918D;
  font-size: 20pt;
  padding: 10pt;
  width: 150pt;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.0);
  transition: all 2s;
  &:hover {
    background-color: #E56353;
    color: #FAFAFA;
    padding: 20pt;
    width: 200pt;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.3);
  }

}
footer {
  background-color: #A0A0A0;
  text-align: center;
  justify-content: center;
  color: #FAFAFA;
  padding-top: 50pt;
  padding-bottom: 50pt;
}
